* {
	margin: 0;
	padding: 0;
	font-family: SF Pro Display;
	box-sizing: border-box;
}

@font-face {
	font-family: SF Pro Display;
	src: url(./font/sfProDisplay.ttf)
}

.first_section {
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #454F5B;
	/* width: 100%; */
	gap: 150px;
	height: 44px;
}

.first_section p {
	text-align: center;
	margin-left: 350px;
}

.first_section a {
	color: white;
}


.top-nav {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: black;
	height: 50px;
	padding: 1em;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.contact {
	gap: 30px;
	display: flex;
	list-style: none;
	flex-direction: row;
	align-items: center;
}

.contact img {
	width: 23px;
}

.contact>li {
	cursor: pointer;
	overflow: hidden;
}

.menu>li {
	margin: 0 1rem;
	cursor: pointer;
	overflow: hidden;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	width: 80%;
}

.login {
	text-align: center;
	padding: 50px;
}

.login input {
	border: none;
	border-bottom: 2px solid #454F5B;
	padding: 12px 70px;
	margin: 25px 0;
}

.login-btn {
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	font-weight: 600;
	margin: 25px 10px;
	padding: 20px 50px;
	box-shadow: 0 0 20px rgba(104, 85, 224, 0.9);
	transition: 0.4s;
}

.login-btn:hover {
	color: white;
	box-shadow: 0 0 20px #454F5B;
	background-color: #454F5B;
}

.register {
	text-align: center;
	padding: 50px;
}

.register input {
	border: none;
	border-bottom: 2px solid #454F5B;
	padding: 12px 70px;
	margin: 25px 0;
}

.register-btn {
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	font-weight: 600;
	margin: 25px 10px;
	padding: 20px 50px;
	box-shadow: 0 0 20px rgba(104, 85, 224, 0.9);
	color: white;
	background: #454F5B;
	transition: 0.4s;
}

.register-btn:hover {
	color: black;
	box-shadow: 0 0 20px #454F5B;
	background-color: white;
}

.acc-form {
	display: flex;
}

.fav-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.fav-modal h1{
	color: #34495e;
	text-align: center;
}
.fav-modal-content {
	width: 80%;
	background-color: #fefefe;
	margin: 200px auto;
	padding: 28px;
	border: 1px solid #888;
}

.order-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.order-modal-content {
	width: 80%;
	background-color: #fefefe;
	margin: 200px auto;
	padding: 28px;
	border: 1px solid #888;
}
.order-modal h1{
	color: #34495e;
	text-align: center;
}
.root {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	margin: 20px 40px;
}

.each_div {
	width: 220px;
	border-radius: 20px;
	border: 2px solid #454F5B;
	margin: 10px auto;
}

.each_div img {
	width: 216px;
	border-radius: 20px;
	height: 150px;
	display: flex;
	margin: 0 auto;
}

.each_div button {
	margin: 5px auto;
	border: 2px solid #454F5B;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
}

.each_div button:hover {
	color: #fff;
	background-color: #454F5B;
	box-shadow: #454F5B 0 8px 15px;
	transform: translateY(-2px);
}

.each_div button:active {
	box-shadow: none;
	transform: translateY(0);
}

.each_div h1 {
	text-align: center;
	font-size: 20px;
}

.each_div p {
	margin-top: 10px;
}

.each_div span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
}

.root .btn_div {
	gap: 5px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 210px;
}

.main {
	display: flex;
	justify-content: space-between;
}

.category div {
	margin: 40px 80px;
}

.category button {
	appearance: none;
	background-color: transparent;
	border: 2px solid #454F5B;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.category button:disabled {
	pointer-events: none;
}

.category button:hover {
	color: #fff;
	background-color: #454F5B;
	box-shadow: #454F5B 0 8px 15px;
	transform: translateY(-2px);
}

.category button:active {
	box-shadow: none;
	transform: translateY(0);
}

.all {
	appearance: none;
	background-color: transparent;
	border: 2px solid #454F5B;
	border-radius: 15px;
	box-sizing: border-box;
	color: #454F5B;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 40px 80px;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.all:disabled {
	pointer-events: none;
}

.all:hover {
	color: #fff;
	background-color: #454F5B;
	box-shadow: #454F5B 0 8px 15px;
	transform: translateY(-2px);
}

.all:active {
	box-shadow: none;
	transform: translateY(0);
}

.select {
	float: right;
	margin: 20px 70px;
}

select {
	appearance: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	flex: 1;
	padding: 10px 50px;
	cursor: pointer;
	border: 2px solid #34495e;
	font-size: 17px;
}

.select {
	position: relative;
	display: flex;
	/* width: 20em;
  height: 3em; */
	border-radius: .25em;
	overflow: hidden;
}

.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	background-color: #34495e;
	transition: .25s all ease;
	pointer-events: none;
}

.select:hover::after {
	color: white;
}


.footer {
	display: flex;
	/* width: 100%; */
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	height: 450px;
	background: #0D2436;
	color: white;
	gap: 100px;
}

.footer div {
	margin-top: 50px;
}

.footer li {
	cursor: pointer;
	list-style: none;
	margin-top: 25px;
}

.footer img {
	padding: 15px;
}



@media(max-width:588px) {
	.first {
		display: none;
	}

	.second {
		display: none;
	}
}

@media(max-width: 812px) {
	.third {
		display: none;
	}
}

@media (max-width: 914px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 44px;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		z-index: 3;
	}

	#menu-toggle~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked~.menu li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #222;
	}

	.menu>li:not(:last-child) {
		border-bottom: 1px solid #444;
	}

	.logo {
		display: none;
	}

	#phone {
		display: none;
	}

	.acc-form {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.four {
		display: none;
	}
}


@media(max-width: 1050px) {
	.first_section a {
		display: none;
	}

	.first_section p {
		margin-left: 0px;
	}
}